.container {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-auto-rows: 100px;
    gap: 20px;
    width: 500px;
    height: 800px;
    background-color: grey;
    border: 1px solid black;
}

.card {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

